body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  color: white;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: #505050;
  outline: 1px solid slategrey;
}
body::-webkit-scrollbar-track {
  background-color: #212121;
  outline: 1px solid slategrey;
}

.movie-app > .row {
  /* overflow-x: auto; */
  scrollbar-color: #151515;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  left: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  color: white;
}
.overlay:active {
  background-color: red;
}
.image-container:hover .overlay {
  opacity: 1;
}
